  <article class="post">
    <h4>How to build a regression model?</h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">@jsmith</a> replied 34 minutes ago  &nbsp;
            <span class="tag">Question</span>
          </p>
          <textarea id="resizable" rows="5" cols="20"></textarea>
        </div>
      </div>
    <div class="media-right">
       <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
    </div>
    </div>
  </article>
  <article class="post">
    <h4>Can anyone explain what is normalization? I need to understand it for an assignment.</h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">@red</a> replied 40 minutes ago  &nbsp;
            <span class="tag">Question</span>
          </p>
        </div>
      </div>
      <div class="media-right">
       <span class="has-text-grey-light"><i class="fa fa-comments"></i> 0</span>
      </div>
    </div>
  </article>
  <article class="post">
    <h4>What is LSTM ?I have been breaking my head to understand the architecture. Any simple explanation? </h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">@jsmith</a> replied 53 minutes ago  &nbsp;
            <span class="tag">Question</span>
          </p>
        </div>
      </div>
      <div class="media-right">
       <span class="has-text-grey-light"><i class="fa fa-comments"></i> 13</span>
      </div>
    </div>
  </article>
  <article class="post">
    <h4>What is dimensionality reduction? Examples would be appreciated. TIA. :)</h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">@brown</a> replied 3 hours ago  &nbsp;
            <span class="tag">Question</span>
          </p>
        </div>
      </div>
      <div class="media-right">
       <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
      </div>
    </div>
  </article>
  <article class="post">
    <h4>I have changed the number of layers in neural network , but it doesn't improve accuracy. What is wrong?</h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">@hamburgler</a> replied 5 hours ago  &nbsp;
            <span class="tag">Question</span>
          </p>
        </div>
      </div>
      <div class="media-right">
       <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
      </div>
    </div>
  </article>
  <article class="post">
    <h4>Is anyone willing to explain what happened in last class? I was down with the flu. We can book a library room :) </h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">@rapper</a> replied 3 hours ago  &nbsp;
            <span class="tag">Question</span>
          </p>
        </div>
      </div>
      <div class="media-right">
       <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
      </div>
    </div>
  </article>
