<!DOCTYPE html>
<html lang="en">
<head>
        <title>Choose Stream</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            /* Set black background color, white text and some padding */
            footer {
                background-color: #555;
                color: white;
                padding: 15px;
            }
        </style>

</head>


<body >
<!--background="/imgs/engineering.jpg">-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header"><img src="/imgs/logo1.png" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</nav>
<div class="container">
    <h2 class="alert-warning" align="center"> Choose Your Stream</h2>
    <br>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Software Engineering</div>
                <a href="#"><div class="panel-body"><img src="/imgs/software.jpg" class="img-responsive" style="width:100%" alt="Image"></div></a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Electrical Engineering</div>
                <div class="panel-body"><img src="/imgs/electrical-engineering-image.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Computer Science</div>
                <div class="panel-body"><img src="/imgs/computer-science-header.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">BioMedical</div>
                <div class="panel-body"><img src="/imgs/bio.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Mechanical</div>
                <div class="panel-body"><img src="/imgs/mech.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Industrial and Systems Engineeing</div>
                <div class="panel-body"><img src="/imgs/indus.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            </div>
        </div>
    </div>
</div><br><br>

<footer class="container-fluid text-center">
    <p>Copyright SJSU</p>
    <p><a href="Contact Us!" class="ui-icon-contact">Contact US</a></p>
</footer>

</body>
</html>
