doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jQuery UI Selectmenu - Default functionality
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(href='//jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css', rel='stylesheet')
        style.
            fieldset {
                border: 0;
            }
            label {
                display: block;
                margin: 30px 0 0 0;
            }
            .overflow {
                height: 200px;
            }
            .course {
                width:150px;
                height: 30px;
                margin-right: 5px;
            }
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script.
            $( function() {
                $( ".course" ).selectmenu();
                $( "#files" ).selectmenu();
                $( "#number" )
                    .selectmenu()
                    .selectmenu( "menuWidget" )
                    .addClass( "overflow" );
                $( "#salutation" ).selectmenu();
            } );
    body
        .demo
            form(method='post', action='/routes/update')
                fieldset
                    h4 Please select a course group to Join
                    br
                    h4 First Name
                    input(type='text', name='firstname', value=users.firstName)
                    br
                    br
                    h4 Last Name
                    input(type='text', name='lastname', value=users.lastName)
                    br
                    br
                    h4 Email Id
                    input(type='text', name='email' value=users.Email)
                    br
                    br
                    button.ui-button.ui-widget.ui-corner-all
                        | Update