<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <article class="post">
    <h4>How to build a regression model?</h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">@jsmith</a> replied 34 minutes ago  &nbsp;
            <span class="tag">Question</span>
          </p>
        </div>
      </div>
    <div class="media-right">
       <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
    </div>
    </div>
  </article>
  <article class="post">
    <h4>What is LSTM ?I have been breaking my head to understand the architecture. Any simple explanation? </h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">@jsmith</a> replied 53 minutes ago  &nbsp;
            <span class="tag">Question</span>
          </p>
        </div>
      </div>
      <div class="media-right">
       <span class="has-text-grey-light"><i class="fa fa-comments"></i> 13</span>
      </div>
    </div>
  </article>
  <article class="post">
    <h4>What is dimensionality reduction? Examples would be appreciated. TIA. :)</h4>
    <div class="media">
      <div class="media-left">
        <p class="image is-32x32">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="#">@brown</a> replied 3 hours ago  &nbsp;
            <span class="tag">Question</span>
          </p>
        </div>
      </div>
      <div class="media-right">
       <span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
      </div>
    </div>
  </article>



</body>
</html>
